# Import the necessary library

In [4]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json
from geopy.geocoders import Nominatim
import requests
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium
import pgeocode
print('Libraries imported.')

Libraries imported.

## Download the dataset and preprocess them

In [5]:
x=pd.read_csv('US_zip.csv')

In [6]:
x.head()

    zip  Zipcode name      City State County Name
0  2351  ABINGTON, MA  ABINGTON    MA    PLYMOUTH
1  2018    ACCORD, MA    ACCORD    MA    PLYMOUTH
2  1720     ACTON, MA     ACTON    MA   MIDDLESEX
3  2743  ACUSHNET, MA  ACUSHNET    MA     BRISTOL
4  1220     ADAMS, MA     ADAMS    MA   BERKSHIRE

### Segragate the ZIP codes

In [48]:
pin=x['zip']
pin.head()

0    2351
1    2018
2    1720
3    2743
4    1220
Name: zip, dtype: object

In [50]:
pin=list(pin)
type(pin[1])
for i in range(len(pin)):
    pin[i]=str(pin[i])
    pin[i]=pin[i].zfill(5)

In [55]:
type(pin)

list

### Using the pygeocode library to get the latitude and longitude data

In [32]:
nomi = pgeocode.Nominatim('us')

In [57]:
df=nomi.query_postal_code(pin)

In [58]:
type(df)

pandas.core.frame.DataFrame

In [60]:
df.head()

,postal_code,country code,place_name,state_name,state_code,county_name,county_code,community_name,community_code,latitude,longitude,accuracy
0,02351,US,Abington,Massachusetts,MA,Plymouth,23.0,NaN,NaN,42.1167,-70.9543,4.0
1,02018,US,Accord,Massachusetts,MA,Plymouth,23.0,NaN,NaN,42.1745,-70.8837,4.0
2,01720,US,Acton,Massachusetts,MA,Middlesex,17.0,NaN,NaN,42.4751,-71.4483,4.0
3,02743,US,Acushnet,Massachusetts,MA,Bristol,5.0,NaN,NaN,41.6997,-70.9087,4.0
4,01220,US,Adams,Massachusetts,MA,Berkshire,3.0,NaN,NaN,42.6223,-73.1172,4.0

### Final dataframe with only the necessary details

In [69]:
df=df[['postal_code','place_name','state_code','country code','county_code','latitude','longitude']]

In [70]:
df=pd.DataFrame(df)
df.head()

,postal_code,place_name,state_code,country code,county_code,latitude,longitude
0,02351,Abington,MA,US,23.0,42.1167,-70.9543
1,02018,Accord,MA,US,23.0,42.1745,-70.8837
2,01720,Acton,MA,US,17.0,42.4751,-71.4483
3,02743,Acushnet,MA,US,5.0,41.6997,-70.9087
4,01220,Adams,MA,US,3.0,42.6223,-73.1172